.chat-area__chat__list
  %span.chat-area__chat__list__name
    = chat.user.name
  %span.chat-area__chat__list__date
    = chat.created_at.strftime("%Y/%m/%d %H:%M:%S")
  %p.chat-area__chat__list__message
    = chat.comment