$sideMenuWidth: 300px;

$headerHeight: 100px;

$sendFormHeight: 90px;
$sendFormInnerHeight: 50px;

$sideMenuPadding: 20px;
$chatAreaPadding: 40px;

$sendButtonWidth: 90px;
$sendTextButtonMargin: 15px;

$iconFontSize: 20px;